
.badge {
    border-radius: 2px;
    padding: .25em .5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}

.badge.status-normal {
    background-color: #C8E6C9;
    color: #256029;
}

.badge.status-blocked{
    background-color: #FFCDD2;
    color: #C63737;
}

