.content{
    margin-top: 15%;
}

.header{
    position: absolute;
    height: 5%;
    left:0;
    top:0;
    right:0;
    background-color: #fab162;
}

.footer{
    position: absolute;
    height: 5%;
    left:0;
    bottom:0;
    right:0;
    background-color: var(--blue-500);
}

.title1{
    width:500px;
    font-size: medium;
    margin: 0 auto;
    text-align: center;
    padding-top: 1%;
}